:root.theme-dark {
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --title-section-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: #db00ff;
  --accent-color: #ff0070;
}

.theme-dark .decor__element {
  position: absolute;
  inset-block-start: var(--padding-size);
  inset-inline-end: calc(28px + var(--padding-size));
  color: var(--accent-color);
  text-transform: uppercase;
  justify-self: end;
  align-self: start;
}

.theme-dark .decor__element::after {
  position: absolute;
  content: '';
  inset-block-start: 7px;
  inset-inline-start: 43px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 7px var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --title-color: #000028;
    --title-section-color: #ff0070;
    --text-color: #f1b2ce;
    --hover-color: #db00ff;
    --accent-color: #ff0070;
  }

  .decor__element {
    position: absolute;
    inset-block-start: var(--padding-size);
    inset-inline-end: calc(28px + var(--padding-size));
    color: var(--accent-color);
    text-transform: uppercase;
    justify-self: end;
    align-self: start;
  }
  
  .decor__element::after {
    position: absolute;
    content: '';
    inset-block-start: 7px;
    inset-inline-start: 43px;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    box-shadow: 0 0 7px var(--accent-color);
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }
}