:root {
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --title-section-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: #db00ff;
  --accent-color: #ff0070;
  --min-block-size: 668px;
  --padding-size: 10px;
  --magin-size: 40px;
  --gap-content-size: 50px;
  --font-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-large: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}