:root {
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --title-section-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: #db00ff;
  --accent-color: #ff0070;
  --min-block-size: 668px;
  --padding-size: 10px;
  --magin-size: 40px;
  --gap-content-size: 50px;
}